		.center {
				text-align: center;
			}
			.center img {
				display: block;
				margin: 0 auto;
			}
		body{
			background-image: url(images/nightsky.jpg);
			background-size: cover;
			}
		pre{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
			color:rgb(148, 139, 206);
		}
		p{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
			color:rgb(148, 139, 206);
		}
		h1{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
			color:white;
		}
		h2{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
			color:rgba(189, 75, 214, 1);
		}
		hr{
			color:rgb(148, 139, 206);
		}
		.navbar ul{
			list-style-type: none;
			background-color: hwb(283 0% 32% / 0.8);
			margin: 0px;
			overflow: hidden;
		}
		.navbar a{
			color: white;
			text-decoration: none;
			padding: 15px;
			display: block;
			text-align: center;
		}
		.navbar li a:hover{
			background-color: hwb(283 0% 32% / 0.8);
			color: rgb(245, 168, 238)
		}
		.navbar li{
			float: left;
		}
		ul li a{
			font-family: Verdana, Geneva, Tahoma, sans-serif;
			font-size: 20px;
		}


		