		.center {
				text-align: center;
			}
			.center img {
				display: block;
				margin: 0 auto;
			}
			body{
				background-color: azure;
			}
			pre{
                font-family: Verdana, Geneva, Tahoma, sans-serif;
				color:slategray
			}
			p{
                font-family: Verdana, Geneva, Tahoma, sans-serif;
				color:slategray
			}
			h1{
                font-family: Verdana, Geneva, Tahoma, sans-serif;
				color:slateblue;
			}
			h2{
                font-family: Verdana, Geneva, Tahoma, sans-serif;
				color:slateblue
			}
			hr{
				color:slateblue
			}