body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(26, 24, 43);
    color:rgb(183, 0, 255);
}

label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: rgb(183, 0, 255);
}

input {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border: none;
    background-color: transparent;
    color: white;
    outline: none; 
}
#output{
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: white;
}

